/* * {
    padding: 0%;
    margin: 0%;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #504e4e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .quiz-container {
    background-color:rgb(170, 169, 169);
    padding: 70px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  .buttons {
    margin: 40px 0;
  }
  
  .answer-btn {
    background-color: #1f1f1b;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 7px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .answer-btn:hover {
    background-color: #0056b3;
  }
  
  #next-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #result-message {
    margin-top: 20px;
    font-weight: bold;
  } */